<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'spotifyarchiveapp/assets/css/main-style.css' %}">
    <title>Spotify Archive</title>
</head>
<body>
    <div class="header">
    </div>
    <main class="main" id="error-main">
        <h1 class="error-h1">404</h1>
        <h2 class="error-h2">Page not found :(</h2>
        <form action="#" method="post">
            {% csrf_token %}
            <input id="error-button" type= "submit" name="error-redirect" value="Click here to return to home page."/>
        </form>
    </main>
    <footer class="footer">
        <a id="github-logo" href="https://github.com/sen-francis/spotify-archive">
            <img id="light-logo" src="{% static 'spotifyarchiveapp/assets/images/GitHub-Mark-Light-32px.png' %}">
        </a>
    </footer>
</body>
</html>
