<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'spotifyarchiveapp/assets/css/main-style.css' %}">
    <title>Spotify Archive</title>
</head>
<body>
    <div class="header">
    </div>
    <main class="main" id="error-main">
        <h1 class="error-h1">500</h1>
        <h2 class="error-h2">Something went wrong :(</h2>
        <p class="error-p">If you were redirected here after logging in, this likely means you are an unauthorized user. Due to Spotify's development policies, only a limited amount of users are authorized to use this application.</p>
        <p class="error-p">If you believe you should be an authorized user, please contact the developer directly with your full name and email associated with your Spotify account. </p>
        <form action="#" method="post">
            {% csrf_token %}
            <input id="error-button" type= "submit" name="error-redirect" value="Click here to use application without login."/>
        </form>
    </main>
    <footer class="footer">
        <a id="github-logo" href="https://github.com/sen-francis/spotify-archive">
            <img id="light-logo" src="{% static 'spotifyarchiveapp/assets/images/GitHub-Mark-Light-32px.png' %}">
        </a>
    </footer>
</body>
</html>
