<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'spotifyarchiveapp/assets/css/main-style.css' %}">
    <title>Spotify Archive</title>
</head>
<body>
    <div class="header">
    </div>
    <main class="main" style="gap: 20px; padding: 20px;">
        <h1 style="font-size: 5em;">500</h1>
        <h2 style="font-size: 3em;">Something went wrong :(</h2>
        <p style="font-size: 1.5em; width:50%;">If you were redirected here after logging in, this likely means you are an unauthorized user. Due to Spotify's development policies, only a limited amount of users are authorized to use this application.</p>
        <p style="font-size: 1.5em; width:50%;">If you believe you should be an authorized user, please contact the developer directly with your full name and email associated with your Spotify account. </p>
        <form action="#" method="post">
            <input id="error-button" type= "submit" name="error-redirect" value="Click here to return to home page."/>
        </form>
    </main>
    <footer class="footer">
        <a id="github-logo" href="https://github.com/sen-francis/spotify-archive">
            <img id="light-logo" src="{% static 'spotifyarchiveapp/assets/images/GitHub-Mark-Light-32px.png' %}">
        </a>
    </footer>
</body>
</html>
