<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'spotifyarchiveapp/assets/css/main-style.css' %}">
    <title>Dashboard | Spotify Archive</title>
</head>
<body>
    <div class="header">
        <div id="display-user" class="button" onclick="dropdown()">
            <img id="display-img" src="{{avi_url}}">
            <p id="display-name">{{display_name}}</p>
            <p id="drop-arrow">&#9660</p>
        </div>
        <a class="website-logo">Spotify Archive Logo</a>
        <div id="drop-content">
            <form name="logoutForm" method="POST" action="#">
                {% csrf_token %}
                <input type="submit" name="logout" id="logout" value="Log out">
            </form>
        </div>
    </div>
    <div class="main2">
        <div id="filters">
            <p> FLITERS</p>
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        </div>   
        <div class="search-selection">
            <form id="searchForm" name="searchForm" method="GET" action="#">
                {% csrf_token %}
                <input type="text" name="search" id="search-bar" placeholder="Search for songs" onkeyup="searchDebounce()">
            </form>
            <div class ="track-list" id="search-tracklist">
                {% if results %}
                    {% for track in results.tracks.items %}
                        <button class ="track" type="submit">
                            <input type="hidden" name="track-id" id="track-id" value="{{track.id}}">
                            <img class="track-img" src="{{track.album.images.0.url}}">
                            <div class="track-title">
                                <p>{{track.name}}</p>
                                <div class="track-artists">
                                    {% for artist in track.artists %}
                                        {% if forloop.last %}
                                            <p>{{artist.name}}</p>
                                        {% else %}
                                            <p>{{artist.name}},&nbsp;</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </button>
                    {% endfor %}
                {% endif %}
            </div>
                <h2 id="selection-header"> Current Selection </h2>
                <div class ="track-list" id="selected-tracklist">
                    {% if selected %}
                        {% for track in selected %}
                            <button class ="track" type="submit" onclick="trackDeselect(this)">
                                <input type="hidden" name="trackDeselectID" id="trackDeselectID" value="{{track.id}}">
                                <img class="track-img" src="{{track.album.images.0.url}}">
                                <div class="track-title">
                                    <p>{{track.name}}</p>
                                    <div class="track-artists">
                                        {% for artist in track.artists %}
                                            {% if forloop.last %}
                                                <p>{{artist.name}}</p>
                                            {% else %}
                                                <p>{{artist.name}},&nbsp;</p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </button>
                        {% endfor %}
                    {% endif %}
                </div>
        </div>
        <div class="search-selection">
            <h2 id="selection-header"> Generated Playlist </h2>
            <div class ="gen-track-list" id="playlist-tracklist">
                {% if playlist %}
                    {% for track in playlist %}
                        <button class ="track" type="submit">
                            <input type="hidden" id="trackID" value="{{track.id}}">
                            <img class="track-img" src="{{track.album.images.0.url}}">
                            <div class="track-title">
                                <p>{{track.name}}</p>
                                <div class="track-artists">
                                    {% for artist in track.artists %}
                                        {% if forloop.last %}
                                            <p>{{artist.name}}</p>
                                        {% else %}
                                            <p>{{artist.name}},&nbsp;</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </button>
                    {% endfor %}
                {% endif %}
            </div>
            <div id="playlist-buttons">
                <form id="submitForm" method="POST" action="#">
                    {% csrf_token %}
                    <input class = "submit" name="submitButton" type="submit" value="Create Playlist">
                </form>
                <input class = "submit" name="reSeedButton" type="submit" value="Re-seed Playlist">
            </div>    
        </div>    
    </div>
    <div class="footer">
        <a id="github-logo" href="https://github.com/sen-francis/spotify-archive">
            <img id="light-logo" src="{% static 'spotifyarchiveapp/assets/images/GitHub-Mark-Light-32px.png' %}">
        </a>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
    <script>
        function dropdown(){
            //if menu already open
            if(document.getElementById("drop-arrow").textContent=="\u25B2"){
                document.getElementById("drop-arrow").innerHTML = "&#9660";
                document. getElementById("drop-content").style.display = "none";
            }
            else{
                document.getElementById("drop-arrow").innerHTML = "&#9650";
                document. getElementById("drop-content").style.display = "block";
            }
        }

        function searchDebounce(){
            var query = document.getElementById("search-bar").value;
            $.ajax({
                method: "GET",
                url: "{% url 'dashboard' %}",
                data: 
                    {
                        "search": query,
                        "action": "search"
                    },
                success: function(data) {
                    document.getElementById("search-tracklist").innerHTML = "";
                    if(query == ""){
                        return;
                    }
                    for (track of data.results.tracks.items){
                        trackCreate(track, "searchTrack");
                    }
                },
                error: function(error){
                    console.log(error);
                    console.log("error");
                }
                });
        }

        function trackSelect(element){
            let selectedTrackID = element.firstChild.value;
            $.ajax({
                method: "GET",
                url: "{% url 'dashboard' %}",
                data: {"selectedTrackID": selectedTrackID,
                        "action": "track-select"
                },
                success: function(data) {
                    track = data.track
                    if(!track){
                        return;
                    }
                    trackCreate(track, "selectTrack");
                    playlistModify(data);
                },
                error: function(error){
                    console.log(error); 
                    console.log("error");
                }
            });
        }

        function trackDeselect(element){
            //ERROR: THIS ISNT GRABBING TRACK ID
            let trackID = element.firstElementChild.value;
            $.ajax({
                method: "POST",
                url: "{% url 'dashboard' %}",
                data: {"trackDeselectID": trackID,
                        "action": "track-deselect",
                        "csrfmiddlewaretoken": "{{ csrf_token }}"
                },
                success: function(data) {
                    document.getElementById("selected-tracklist").removeChild(element);
                    playlistModify(data);
                },
                error: function(error){
                    console.log(error);
                    console.log("error");
                }
            });
        }

        function trackCreate(track, trackType){
            let trackButton = document.createElement("button");
            trackButton.classList.add("track");
            trackButton.name = "trackSelect";
            trackButton.type = "submit";
            if(trackType=="selectTrack"){
                trackButton.onclick = function(){ trackDeselect(this) };
            }
            else if(trackType=="searchTrack"){
                trackButton.onclick = function(){ trackSelect(this) };
            }
            let hiddenTrackID = document.createElement("input");
            hiddenTrackID.type = "hidden";
            hiddenTrackID.name = "track-id";
            hiddenTrackID.id = "track-id";
            hiddenTrackID.value = track["id"];
            trackButton.appendChild(hiddenTrackID);
            
            let trackIMG = document.createElement("img");
            trackIMG.classList.add("track-img");
            trackIMG.src = track["album"]["images"][0]["url"];
            trackButton.appendChild(trackIMG);
            let trackTitle = document.createElement("div");
            trackTitle.classList.add("track-title");
            trackButton.appendChild(trackTitle);
            let trackName = document.createElement("p");
            trackName.appendChild(document.createTextNode(track["name"]));
            trackTitle.appendChild(trackName);
            let trackArtists = document.createElement("div");
            trackArtists.classList.add("track-artists");
            trackTitle.appendChild(trackArtists);
            var i = 0;
            for (artist of track["artists"]){
                if(i==track["artists"].length-1){
                    let trackArtist = document.createElement("p");
                    trackArtist.appendChild(document.createTextNode(artist["name"]));
                    trackArtists.appendChild(trackArtist);
                }
                else{
                    let trackArtist = document.createElement("p");
                    trackArtist.appendChild(document.createTextNode(artist["name"]+",\u00A0"));
                    trackArtists.appendChild(trackArtist);
                }
                i++;
            }
            if(trackType=="selectTrack"){
                let selectedTracklist = document.getElementById("selected-tracklist");
                selectedTracklist.prepend(trackButton);
                if(selectedTracklist.childElementCount > 5){
                    selectedTracklist.removeChild(selectedTracklist.lastElementChild);
                }
            }
            else if(trackType=="searchTrack"){
                document.getElementById("search-tracklist").appendChild(trackButton);
            }
            else if(trackType=="playlistTrack"){
                document.getElementById("playlist-tracklist").appendChild(trackButton);;
            }
        }

        function playlistModify(data){
            //clear playlist
            let playlist = document.getElementById("playlist-tracklist");
            while (playlist.firstChild) {
                playlist.removeChild(playlist.firstChild);
            } 
            //handle playlist
            for (track of data.playlist.tracks){
                trackCreate(track, "playlistTrack");
            }
        }
    </script>
</body>
</html>
