<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'spotifyarchiveapp/assets/css/main-style.css' %}">
    <title>Dashboard | Spotify Archive</title>
</head>
<body>
    <nav class="header">
        <form action="#" method="post">
            {% csrf_token %}
            <input class="log-in" type="submit" value="LOG IN" />
        </form>
        <a class="website-logo">Spotify Archive Logo</a>
    </nav>
    <main class="main">
        <form action="#" method="post"> 
            {% csrf_token %}
            <img  src="{{images.0.url}}" height="300" width="300">
        </form>
    </main>
    <footer class="footer">
        <a id="github-logo" href="https://github.com/sen-francis/spotify-archive">
            <img id="light-logo" src="{% static 'spotifyarchiveapp/assets/images/GitHub-Mark-Light-32px.png' %}">
        </a>
    </footer>
</body>
</html>
