<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'spotifyarchiveapp/assets/css/main-style.css' %}">
    <title>Dashboard | Spotify Archive</title>
</head>
<body>
    <div class="header">
        <div id="display-user" class="button" onclick="dropdown()">
            {% if avi_url %}
                <img id="display-img" src="{{avi_url}}">
            {% else %}
                <img id="display-img" src="{% static 'spotifyarchiveapp/assets/images/default_avi.jpg' %}">
            {% endif %}
            <p id="display-name">{{display_name}}</p>
            <p id="drop-arrow">&#9660</p>
        </div>
        <div id="drop-content">
            <form name="logoutForm" method="POST" action="#">
                {% csrf_token %}
                <input type="submit" name="logout" id="logout" value="Log out">
            </form>
        </div>
    </div>
    <div class="main2">
        <div id="filters">
            <h3>Playlist Details</h3>
            <hr/>
            <p> Playlist Name </p>
            <input type="text" id="playlistName" placeholder="Enter Playlist Name" oninput="processPlaylistNameChange()">
            <hr/>
            <p> Number of Tracks </p>
            <form style="display: flex; flex-direction: row; gap: 10px;">
                <input type="range" name="amountRange" min="1" max="100" value="50" oninput="this.form.amountInput.value = this.form.amountRange.value;" onchange="processNumTracksChange()" id="numTracksRange"/>
                <input type="number" name="amountInput" min="1" max="100" value="50" oninput="this.form.amountRange.value = this.form.amountInput.value;" onchange="processNumTracksChange()" id="numTracksInput"/>
            </form>
            <hr/>
            <h3> Tunable Track Attributes </h3>
            <hr/>
            <div style="display: flex; flex-direction: column; gap: 10px;">
                <div style="display: flex; flex-direction: row; gap: 10px;">
                    <div class="tooltip">Acousticness
                        <span class="tooltiptext">Confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic.</span>
                    </div>
                    <label class="switch" style="margin-left: auto; margin-right: 0;">
                        <input type="checkbox" onchange="tunableTrackStatusChange(this)" id="acousticCheck">
                        <span class="slider round"></span>
                    </label>
                </div>
                <form style="display: flex; flex-direction: row; gap: 10px;">
                    <input type="range" name="amountRange" min="0" max="1" value="0.5" step="0.1" oninput="this.form.amountInput.value = this.form.amountRange.value;" onchange="processTunableTrackInputChange(this)" class="tunableTracksRange"/>
                    <input type="number" name="amountInput" min="0" max="1" value="0.5" step="0.1" oninput="this.form.amountRange.value = this.form.amountInput.value;" onchange="processTunableTrackInputChange(this)" id="acousticInput" class="tunableTracksInput"/>
                </form>
            </div>
            <hr/>
            <div style="display: flex; flex-direction: column; gap: 10px;">
                <div style="display: flex; flex-direction: row; gap: 10px;">
                    <div class="tooltip">Danceability
                        <span class="tooltiptext">Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.</span>
                    </div>
                    <label class="switch" style="margin-left: auto; margin-right: 0;">
                        <input type="checkbox" onchange="tunableTrackStatusChange(this)" id="danceCheck">
                        <span class="slider round"></span>
                    </label>
                </div>
                <form style="display: flex; flex-direction: row; gap: 10px;">
                    <input type="range" name="amountRange" min="0" max="1" value="0.5" step="0.1" oninput="this.form.amountInput.value = this.form.amountRange.value;" onchange="processTunableTrackInputChange(this)" class="tunableTracksRange"/>
                    <input type="number" name="amountInput" min="0" max="1" value="0.5" step="0.1" oninput="this.form.amountRange.value = this.form.amountInput.value;" onchange="processTunableTrackInputChange(this)" id="danceInput" class="tunableTracksInput"/>
                </form>
            </div>
            <hr/>
            <div style="display: flex; flex-direction: column; gap: 10px;">
                <div style="display: flex; flex-direction: row; gap: 10px;">
                    <div class="tooltip">Energy
                        <span class="tooltiptext">Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy.</span>
                    </div>
                    <label class="switch" style="margin-left: auto; margin-right: 0;">
                        <input type="checkbox" onchange="tunableTrackStatusChange(this)" id="energyCheck">
                        <span class="slider round"></span>
                    </label>
                </div>
                <form style="display: flex; flex-direction: row; gap: 10px;">
                    <input type="range" name="amountRange" min="0" max="1" value="0.5" step="0.1" oninput="this.form.amountInput.value = this.form.amountRange.value;" onchange="processTunableTrackInputChange(this)" class="tunableTracksRange"/>
                    <input type="number" name="amountInput" min="0" max="1" value="0.5" step="0.1" oninput="this.form.amountRange.value = this.form.amountInput.value;" onchange="processTunableTrackInputChange(this)" id="energyInput" class="tunableTracksInput"/>
                </form>
            </div>
            <hr/>
            <div style="display: flex; flex-direction: column; gap: 10px;">
                <div style="display: flex; flex-direction: row; gap: 10px;">
                    <div class="tooltip">Instrumentalness
                        <span class="tooltiptext">The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value approaches 1.0.</span>
                    </div>
                    <label class="switch" style="margin-left: auto; margin-right: 0;">
                        <input type="checkbox" onchange="tunableTrackStatusChange(this)" id="instrumentalCheck">
                        <span class="slider round"></span>
                    </label>
                </div>
                <form style="display: flex; flex-direction: row; gap: 10px;">
                    <input type="range" name="amountRange" min="0" max="1" value="0.5" step="0.1" oninput="this.form.amountInput.value = this.form.amountRange.value;" onchange="processTunableTrackInputChange(this)" class="tunableTracksRange"/>
                    <input type="number" name="amountInput" min="0" max="1" value="0.5" step="0.1" oninput="this.form.amountRange.value = this.form.amountInput.value;" onchange="processTunableTrackInputChange(this)" id="instrumentalInput" class="tunableTracksInput"/>
                </form>
            </div>
            <hr/>
            <div style="display: flex; flex-direction: column; gap: 10px;">
                <div style="display: flex; flex-direction: row; gap: 10px;">
                    <div class="tooltip">Key
                        <span class="tooltiptext">The estimated overall key of the track. Integers map to pitches using standard Pitch Class notation . E.g. 0 = C, 1 = C#/Db, 2 = D, and so on.</span>
                    </div>
                    <label class="switch" style="margin-left: auto; margin-right: 0;">
                        <input type="checkbox" onchange="tunableTrackStatusChange(this)" id="keyCheck">
                        <span class="slider round"></span>
                    </label>
                </div>
                <form style="display: flex; flex-direction: row; gap: 10px;">
                    <input type="range" name="amountRange" min="0" max="11" value="5" oninput="this.form.amountInput.value = this.form.amountRange.value;" onchange="processTunableTrackInputChange(this)" class="tunableTracksRange"/>
                    <input type="number" name="amountInput" min="0" max="11" value="5" oninput="this.form.amountRange.value = this.form.amountInput.value;" onchange="processTunableTrackInputChange(this)" id="keyInput" class="tunableTracksInput"/>
                </form>
            </div>
            <hr/>
            <div style="display: flex; flex-direction: column; gap: 10px;">
                <div style="display: flex; flex-direction: row; gap: 10px;">
                    <div class="tooltip">Liveness
                        <span class="tooltiptext">Detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live. A value above 0.8 provides strong likelihood that the track is live.</span>
                    </div>
                    <label class="switch" style="margin-left: auto; margin-right: 0;">
                        <input type="checkbox" onchange="tunableTrackStatusChange(this)" id="liveCheck">
                        <span class="slider round"></span>
                    </label>
                </div>
                <form style="display: flex; flex-direction: row; gap: 10px;">
                    <input type="range" name="amountRange" min="0" max="1" value="0.5" step="0.1" oninput="this.form.amountInput.value = this.form.amountRange.value;" onchange="processTunableTrackInputChange(this)" class="tunableTracksRange"/>
                    <input type="number" name="amountInput" min="0" max="1" value="0.5" step="0.1" oninput="this.form.amountRange.value = this.form.amountInput.value;" onchange="processTunableTrackInputChange(this)" id="liveInput" class="tunableTracksInput"/>
                </form>
            </div>
            <hr/>
            <div style="display: flex; flex-direction: column; gap: 10px;">
                <div style="display: flex; flex-direction: row; gap: 10px;">
                    <div class="tooltip">Mode
                        <span class="tooltiptext">Mode indicates the modality (major or minor) of a track, the type of scale from which its melodic content is derived. Major is represented by 1 and minor is 0.</span>
                    </div>
                    <label class="switch" style="margin-left: auto; margin-right: 0;">
                        <input type="checkbox" onchange="tunableTrackStatusChange(this)" id="modeCheck">
                        <span class="slider round"></span>
                    </label>
                </div>
                <form style="display: flex; flex-direction: row; gap: 10px;">
                    <input type="range" name="amountRange" min="0" max="1" value="0" oninput="this.form.amountInput.value = this.form.amountRange.value;" onchange="processTunableTrackInputChange(this)" class="tunableTracksRange"/>
                    <input type="number" name="amountInput" min="0" max="1" value="0"  oninput="this.form.amountRange.value = this.form.amountInput.value;" onchange="processTunableTrackInputChange(this)" id="modeInput" class="tunableTracksInput"/>
                </form>
            </div>
            <hr/>
            <div style="display: flex; flex-direction: column; gap: 10px;">
                <div style="display: flex; flex-direction: row; gap: 10px;">
                    <div class="tooltip">Popularity
                        <span class="tooltiptext">The popularity of a track is a value between 0 and 100, with 100 being the most popular. The popularity is calculated by algorithm and is based, in the most part, on the total number of plays the track has had and how recent those plays are.</span>
                    </div>
                    <label class="switch" style="margin-left: auto; margin-right: 0;">
                        <input type="checkbox" onchange="tunableTrackStatusChange(this)" id="popularCheck">
                        <span class="slider round"></span>
                    </label>
                </div>
                <form style="display: flex; flex-direction: row; gap: 10px;">
                    <input type="range" name="amountRange" min="0" max="100" value="50" oninput="this.form.amountInput.value = this.form.amountRange.value;" onchange="processTunableTrackInputChange(this)" class="tunableTracksRange"/>
                    <input type="number" name="amountInput" min="0" max="100" value="50" oninput="this.form.amountRange.value = this.form.amountInput.value;" onchange="processTunableTrackInputChange(this)" id="popularInput" class="tunableTracksInput"/>
                </form>
            </div>
            <hr/>
            <div style="display: flex; flex-direction: column; gap: 10px;">
                <div style="display: flex; flex-direction: row; gap: 10px;">
                    <div class="tooltip">Speechiness
                        <span class="tooltiptext">Speechiness detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or layered, including such cases as rap music. Values below 0.33 most likely represent music and other non-speech-like tracks.</span>
                    </div>
                    <label class="switch" style="margin-left: auto; margin-right: 0;">
                        <input type="checkbox" onchange="tunableTrackStatusChange(this)" id="speechCheck">
                        <span class="slider round"></span>
                    </label>
                </div>
                <form style="display: flex; flex-direction: row; gap: 10px;">
                    <input type="range" name="amountRange" min="0" max="1" value="0.5" step="0.1" oninput="this.form.amountInput.value = this.form.amountRange.value;" onchange="processTunableTrackInputChange(this)" class="tunableTracksRange"/>
                    <input type="number" name="amountInput" min="0" max="1" value="0.5" step="0.1" oninput="this.form.amountRange.value = this.form.amountInput.value;" onchange="processTunableTrackInputChange(this)" id="speechInput" class="tunableTracksInput"/>
                </form>
            </div>
            <hr/>
            <div style="display: flex; flex-direction: column; gap: 10px;">
                <div style="display: flex; flex-direction: row; gap: 10px;">
                    <div class="tooltip">Tempo
                        <span class="tooltiptext">Overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.</span>
                    </div>
                    <label class="switch" style="margin-left: auto; margin-right: 0;">
                        <input type="checkbox" onchange="tunableTrackStatusChange(this)" id="tempoCheck">
                        <span class="slider round"></span>
                    </label>
                </div>
                <form style="display: flex; flex-direction: row; gap: 10px;">
                    <input type="range" name="amountRange" min="1" max="300" value="150" oninput="this.form.amountInput.value = this.form.amountRange.value;" onchange="processTunableTrackInputChange(this)" class="tunableTracksRange"/>
                    <input type="number" name="amountInput" min="1" max="300" value="150" oninput="this.form.amountRange.value = this.form.amountInput.value;" onchange="processTunableTrackInputChange(this)" id="tempoInput" class="tunableTracksInput"/>
                </form>
            </div>
            <hr/>
            <div style="display: flex; flex-direction: column; gap: 10px;">
                <div style="display: flex; flex-direction: row; gap: 10px;">
                    <div class="tooltip">Time Signature
                        <span class="tooltiptext">An estimated time signature. The time signature (meter) is a notational convention to specify how many beats are in each bar (or measure). The time signature ranges from 3 to 7 indicating time signatures of "3/4", to "7/4".</span>
                    </div>
                    <label class="switch" style="margin-left: auto; margin-right: 0;">
                        <input type="checkbox" onchange="tunableTrackStatusChange(this)" id="timeSigCheck">
                        <span class="slider round"></span>
                    </label>
                </div>
                <form style="display: flex; flex-direction: row; gap: 10px;">
                    <input type="range" name="amountRange" min="3" max="7" value="5" oninput="this.form.amountInput.value = this.form.amountRange.value;" onchange="processTunableTrackInputChange(this)" class="tunableTracksRange"/>
                    <input type="number" name="amountInput" min="3" max="7" value="5"  oninput="this.form.amountRange.value = this.form.amountInput.value;" onchange="processTunableTrackInputChange(this)" id="timeSigInput" class="tunableTracksInput"/>
                </form>
            </div>
            <hr/>
            <div style="display: flex; flex-direction: column; gap: 10px;">
                <div style="display: flex; flex-direction: row; gap: 10px;">
                    <div class="tooltip">Valence
                        <span class="tooltiptext">Measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).</span>
                    </div>
                    <label class="switch" style="margin-left: auto; margin-right: 0;">
                        <input type="checkbox" onchange="tunableTrackStatusChange(this)" id="valenceCheck">
                        <span class="slider round"></span>
                    </label>
                </div>
                <form style="display: flex; flex-direction: row; gap: 10px;">
                    <input type="range" name="amountRange" min="0" max="1" value="0.5" step="0.1" oninput="this.form.amountInput.value = this.form.amountRange.value;" onchange="processTunableTrackInputChange(this)" class="tunableTracksRange"/>
                    <input type="number" name="amountInput" min="0" max="1" value="0.5" step="0.1" oninput="this.form.amountRange.value = this.form.amountInput.value;" onchange="processTunableTrackInputChange(this)" id="valenceInput" class="tunableTracksInput"/>
                </form>
            </div>
        </div>   
        <div class="search-selection">
            <form id="searchForm" name="searchForm" method="GET" action="#">
                {% csrf_token %}
                <input type="text" name="search" id="search-bar" placeholder="Search for songs" onkeyup="processSearch()">
            </form>
            <div class ="track-list" id="search-tracklist">
                {% if results %}
                    {% for track in results.tracks.items %}
                        <button class ="track" type="submit">
                            <input type="hidden" name="track-id" id="track-id" value="{{track.id}}">
                            <img class="track-img" src="{{track.album.images.0.url}}">
                            <div class="track-title">
                                <p>{{track.name}}</p>
                                <div class="track-artists">
                                    {% for artist in track.artists %}
                                        {% if forloop.last %}
                                            <p>{{artist.name}}</p>
                                        {% else %}
                                            <p>{{artist.name}},&nbsp;</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </button>
                    {% endfor %}
                {% endif %}
            </div>
                <h2 id="selection-header"> Current Selection </h2>
                <div class ="track-list" id="selected-tracklist">
                    {% if selected %}
                        {% for track in selected %}
                            <button class ="track" type="submit" onclick="trackDeselect(this)">
                                <input type="hidden" name="trackDeselectID" id="trackDeselectID" value="{{track.id}}">
                                <img class="track-img" src="{{track.album.images.0.url}}">
                                <div class="track-title">
                                    <p>{{track.name}}</p>
                                    <div class="track-artists">
                                        {% for artist in track.artists %}
                                            {% if forloop.last %}
                                                <p>{{artist.name}}</p>
                                            {% else %}
                                                <p>{{artist.name}},&nbsp;</p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </button>
                        {% endfor %}
                    {% endif %}
                </div>
        </div>
        <div class="search-selection">
            <h2 id="selection-header"> Generated Playlist </h2>
            <div class ="gen-track-list" id="playlist-tracklist">
                {% if playlist %}
                    {% for track in playlist %}
                        <button class ="playlist-track" type="submit">
                            <input type="hidden" id="trackID" value="{{track.id}}">
                            <img class="track-img" src="{{track.album.images.0.url}}">
                            <div class="track-title">
                                <p>{{track.name}}</p>
                                <div class="track-artists">
                                    {% for artist in track.artists %}
                                        {% if forloop.last %}
                                            <p>{{artist.name}}</p>
                                        {% else %}
                                            <p>{{artist.name}},&nbsp;</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </button>
                    {% endfor %}
                {% endif %}
            </div>
            <div id="playlist-buttons">
                <form id="submitForm" method="POST" action="#">
                    {% csrf_token %}
                    <input class = "submit" name="submitButton" type="submit" value="Create Playlist">
                </form>
                <input class = "submit" name="reSeedButton" type="submit" value="Re-seed Playlist" onclick="getPlaylist()">
            </div>    
        </div>    
    </div>
    <div class="footer">
        <a id="github-logo" href="https://github.com/sen-francis/spotify-archive">
            <img id="light-logo" src="{% static 'spotifyarchiveapp/assets/images/GitHub-Mark-Light-32px.png' %}">
        </a>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
    <script>
        //function to handle dropdown menu in top right
        function dropdown(){
            //if menu already open
            if(document.getElementById("drop-arrow").textContent=="\u25B2"){
                document.getElementById("drop-arrow").innerHTML = "&#9660";
                document. getElementById("drop-content").style.display = "none";
            }
            else{
                document.getElementById("drop-arrow").innerHTML = "&#9650";
                document. getElementById("drop-content").style.display = "block";
            }
        }
        
        //debounce function
        function debounce(func, wait, immediate) {
            var timeout;

            return function executedFunction() {
                var context = this;
                var args = arguments;
                    
                var later = function() {
                timeout = null;
                if (!immediate) func.apply(context, args);
                };

                var callNow = immediate && !timeout;
                
                clearTimeout(timeout);

                timeout = setTimeout(later, wait);
                
                if (callNow) func.apply(context, args);
            };
        }
        
        //search function, sends AJAX GET request to python code to fetch search results
        function search(){
                var query = document.getElementById("search-bar").value;
                $.ajax({
                    method: "GET",
                    url: "{% url 'dashboard' %}",
                    data: 
                        {
                            "search": query,
                            "action": "search"
                        },
                    success: function(data) {
                        document.getElementById("search-tracklist").innerHTML = "";
                        if(query == ""){
                            return;
                        }
                        for (track of data.results.tracks.items){
                            trackCreate(track, "searchTrack");
                        }
                    },
                    error: function(error){
                        console.log(error);
                        console.log("error");
                    }
                    });
        }

        //calls search function with 250ms debounce, used as oninput function for search bar
        const processSearch = debounce(search, 250);

        //track select function, sends AJAX GET request to python code to retrieve the track object
        function trackSelect(element){
            let selectedTrackID = element.firstChild.value;
            $.ajax({
                method: "GET",
                url: "{% url 'dashboard' %}",
                data: {"selectedTrackID": selectedTrackID,
                        "action": "track-select"
                },
                success: function(data) {
                    track = data.track
                    if(!track){
                        return;
                    }
                    //add track object to selected tracks div
                    trackCreate(track, "selectTrack");
                    //fetch a new recommendation playlist with updated tracks
                    getPlaylist();
                },
                error: function(error){
                    console.log(error); 
                    console.log("error");
                }
            });
        }

        //track de-select function, sends AJAX POST request to python code to deselect the track from session vars
        function trackDeselect(element){
            let trackID = element.firstElementChild.value;
            $.ajax({
                method: "POST",
                url: "{% url 'dashboard' %}",
                data: {"trackDeselectID": trackID,
                        "action": "track-deselect",
                        "csrfmiddlewaretoken": "{{ csrf_token }}"
                },
                success: function(data) {
                    //remove track from html
                    document.getElementById("selected-tracklist").removeChild(element);
                    //if there are still selected tracks, fetch a new recommendation playlist
                    if(document.getElementById("selected-tracklist").childElementCount>0){
                        getPlaylist();
                    }
                    else{
                        //clear recommended playlist section
                        let playlist = document.getElementById("playlist-tracklist");
                        while (playlist.firstChild) {
                            playlist.removeChild(playlist.firstChild);
                        } 
                    }
                },
                error: function(error){
                    console.log(error);
                    console.log("error");
                }
            });
        }

        //function to create a track in HMTL
        //trackType var dictates where in DOM track is added and what function the onclick event points to
        function trackCreate(track, trackType){
            //create button
            let trackButton = document.createElement("button");
            //give class based on type of track
            if(trackType=="playlistTrack"){
                trackButton.classList.add("playlist-track");
            }
            else{
                trackButton.classList.add("track");
            }
            trackButton.type = "submit";
            //give onclick function based on type of track
            if(trackType=="selectTrack"){
                trackButton.onclick = function(){ trackDeselect(this) };
            }
            else if(trackType=="searchTrack"){
                trackButton.onclick = function(){ trackSelect(this) };
            }
            //put track id in a hidden element so can be accessed via javascript
            let hiddenTrackID = document.createElement("input");
            hiddenTrackID.type = "hidden";
            hiddenTrackID.name = "track-id";
            hiddenTrackID.id = "track-id";
            hiddenTrackID.value = track["id"];
            trackButton.appendChild(hiddenTrackID);
            
            //create track attributes: image, title and artists
            let trackIMG = document.createElement("img");
            trackIMG.classList.add("track-img");
            trackIMG.src = track["album"]["images"][0]["url"];
            trackButton.appendChild(trackIMG);
            let trackTitle = document.createElement("div");
            trackTitle.classList.add("track-title");
            trackButton.appendChild(trackTitle);
            let trackName = document.createElement("p");
            trackName.appendChild(document.createTextNode(track["name"]));
            trackTitle.appendChild(trackName);
            let trackArtists = document.createElement("div");
            trackArtists.classList.add("track-artists");
            trackTitle.appendChild(trackArtists);
            var i = 0;
            for (artist of track["artists"]){
                if(i==track["artists"].length-1){
                    let trackArtist = document.createElement("p");
                    trackArtist.appendChild(document.createTextNode(artist["name"]));
                    trackArtists.appendChild(trackArtist);
                }
                else{
                    let trackArtist = document.createElement("p");
                    trackArtist.appendChild(document.createTextNode(artist["name"]+",\u00A0"));
                    trackArtists.appendChild(trackArtist);
                }
                i++;
            }
            //determine what div track is added to based on trackType
            if(trackType=="selectTrack"){
                let selectedTracklist = document.getElementById("selected-tracklist");
                selectedTracklist.prepend(trackButton);
                //if more than 5 selected tracks, remove one
                if(selectedTracklist.childElementCount > 5){
                    selectedTracklist.removeChild(selectedTracklist.lastElementChild);
                }
            }
            else if(trackType=="searchTrack"){
                document.getElementById("search-tracklist").appendChild(trackButton);
            }
            else if(trackType=="playlistTrack"){
                document.getElementById("playlist-tracklist").appendChild(trackButton);;
            }
        }

        //updates recommended playlist in HTML DOM
        function updatePlaylist(data){
            //clear old playlist
            let playlist = document.getElementById("playlist-tracklist");
            while (playlist.firstChild) {
                playlist.removeChild(playlist.firstChild);
            } 
            //add new tracks to playlist
            for (track of data.playlist.tracks){
                trackCreate(track, "playlistTrack");
            }
        }

        //called when recommended playlist needs to be updated
        //sends AJAX GET request to python code to get a new recommendation playlist based on new playlist details
        function getPlaylist(){
            //only execute if there are selected tracks
            if(document.getElementById("selected-tracklist").childElementCount>0){
                //create dictionary object
                dict = createFilterDict();
                dict["action"] = "get-playlist";
                $.ajax({
                    method: "GET",
                    url: "{% url 'dashboard' %}",
                    data: dict,
                    success: function(data) {
                        updatePlaylist(data);
                    },
                    error: function(error){
                        console.log(error);
                        console.log("error");
                    }
                });
            }
        }

        //create dictionary with playlist details and tunable track attribute values (if checked)
        function createFilterDict(){
            dict = {};
            dict['limit'] = document.getElementById("numTracksInput").value;
            if(document.getElementById("acousticCheck").checked){
                dict['target_acousticness'] = document.getElementById("acousticInput").value;
            }
            if(document.getElementById("danceCheck").checked){
                dict['target_danceability'] = document.getElementById("danceInput").value;
            }
            if(document.getElementById("energyCheck").checked){
                dict['target_energy'] = document.getElementById("energyInput").value;
            }
            if(document.getElementById("instrumentalCheck").checked){
                dict['target_intrumentalness'] = document.getElementById("instrumentalInput").value;
            }
            if(document.getElementById("keyCheck").checked){
                dict['target_key'] = document.getElementById("keyInput").value;
            }
            if(document.getElementById("liveCheck").checked){
                dict['target_liveness'] = document.getElementById("liveInput").value;
            }
            if(document.getElementById("modeCheck").checked){
                dict['target_mode'] = document.getElementById("modeInput").value;
            }
            if(document.getElementById("popularCheck").checked){
                dict['target_popularity'] = document.getElementById("popularInput").value;
            }
            if(document.getElementById("speechCheck").checked){
                dict['target_speechiness'] = document.getElementById("speechInput").value;
            }
            if(document.getElementById("tempoCheck").checked){
                dict['target_tempo'] = document.getElementById("tempoInput").value;
            }
            if(document.getElementById("timeSigCheck").checked){
                dict['target_time_signature'] = document.getElementById("timeSigInput").value;
            }
            if(document.getElementById("valenceCheck").checked){
                dict['target_valence'] = document.getElementById("valenceInput").value;
            }
            return dict;
        }

        //calls getPlaylist function with 500ms debounce, used as onchange funnction for numTracks
        const processNumTracksChange = debounce(getPlaylist, 500);

        //called when a tunable track attribute is enabled or diasbled
        //changes color of range input and calls getPlaylist() to update playlist
        function tunableTrackStatusChange(element){
            if(element.checked){
                element.parentElement.parentElement.parentElement.lastElementChild.firstElementChild.style.background = "green";
                getPlaylist();
            }
            else{
                element.parentElement.parentElement.parentElement.lastElementChild.firstElementChild.style.background ="darkgrey";
                getPlaylist();
            }
        }

        //called when tunable track input range slider or number input changes
        //if the attribute is enabled, then update playlist via getPlaylist()
        function tunableTrackInputChange(element){
            if(element.parentElement.parentElement.firstElementChild.lastElementChild.firstElementChild.checked){
                getPlaylist();
            }
        }

        //calls tunableTrackInputChange function with 500ms debounce, used as onchange funnction for tunableTrackInput (number and range)
        const processTunableTrackInputChange = debounce(tunableTrackInputChange, 500);

        //sends a AJAX POST request to python code to update playlist name is session var
        function playlistNameChange(){
            playlistName = document.getElementById("playlistName").value;
            $.ajax({
                method: "POST",
                url: "{% url 'dashboard' %}",
                data: {"playlistName": playlistName,
                        "action": "playlist-name-change",
                        "csrfmiddlewaretoken": "{{ csrf_token }}"
                }
            });
        }

        //calls playlistNameChange function with 500ms debounce, used as oninput funnction for playlistName
        const processPlaylistNameChange = debounce(playlistNameChange, 500);
    </script>
</body>
</html>
