<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'spotifyarchiveapp/assets/css/main-style.css' %}">
    <title>Playlist | Spotify Archive</title>
</head>
<body>
    <div class="header">
        <div id="display-user" class="button" onclick="dropdown()">
            <img id="display-img" src="{{avi_url}}">
            <p id="display-name">{{display_name}}</p>
            <p id="drop-arrow">&#9660</p>
        </div>
        <a class="website-logo">Spotify Archive Logo</a>
        <div id="drop-content">
            <form name="logoutForm" method="POST" action="#">
                {% csrf_token %}
                <input type="submit" name="logout" id="logout" value="Log out">
            </form>
        </div>
    </div>
    <div class="main">
        <div class="track-displays">
            <div id ="results">
                {% if results %}
                    {% for track in results%}
                    <form id="selectForm" method="POST" action="#">
                        {% csrf_token %}
                        <button class ="track" name="trackSelect" type="submit">
                            <input type="hidden" name="track-id" id="track-id" value="{{track.id}}">
                            <img class="track-img" src="{{track.album.images.0.url}}">
                            <div class="track-title">
                                <p>{{track.name}}</p>
                                <div class="track-artists">
                                    {% for artist in track.artists %}
                                        {% if forloop.last %}
                                            <p>{{artist.name}}</p>
                                        {% else %}
                                            <p>{{artist.name}},&nbsp;</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </button>
                    </form>
                    {% endfor %}
                {% endif %}
            </div>
            <form id="reSeedForm" method="POST" action="#">
                {% csrf_token %}
                <input class ="play-buttons" name="reSeedButton" type="submit" value="Re-seed Playlist">
            </form>
            <form id="editForm" method="POST" action="#">
                {% csrf_token %}
                <input class ="play-buttons" name="editButton" type="submit" value="Edit Playlist">
            </form>       
            <form id="createForm" method="POST" action="#">
                {% csrf_token %}
                <input class ="play-buttons" name="createButton" type="submit" value="Create Playlist">
            </form> 
        </div>
    </div>
    <div class="footer">
        <a id="github-logo" href="https://github.com/sen-francis/spotify-archive">
            <img id="light-logo" src="{% static 'spotifyarchiveapp/assets/images/GitHub-Mark-Light-32px.png' %}">
        </a>
    </div>
    <script>
        function dropdown(){
            //if menu already open
            if(document.getElementById("drop-arrow").textContent=="\u25B2"){
                document.getElementById("drop-arrow").innerHTML = "&#9660";
                document. getElementById("drop-content").style.display = "none";
            }
            else{
                document.getElementById("drop-arrow").innerHTML = "&#9650";
                document. getElementById("drop-content").style.display = "block";
            }
        }
    </script>
</body>
</html>
